body {
    background-color: #cfd7df;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 30px;
}

.jumbotron {
    background: linear-gradient(to bottom, #6a15bf, #cfd7df);
}

.table-head {
    background-color: #6a15bf;
    color: white;
}

.save-btn {
    background-color: #6a15bf;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
}